$brand-color: rgb(255, 139, 0);

.brand-color {
	color: $brand-color;
}

.container {
    padding: 80px 0;
    @media screen and (max-width: 768px) {
    	padding: 10px 20px;
    }
}

.extra-padding {
	padding-right: 90px;
	padding-left: 90px;
	@media screen and (max-width: 768px) {
    	padding-right: 20px;
			padding-left: 20px;
    }
}

.cbp-so-section {
	margin-bottom: 10em;
	display: flex;
	align-items: center;

	@media screen and (max-width: 768px) {
    	display: block;
    }
}

.cbp-so-side {
	p {
		a {
			color: $brand-color;
		}
	}
}

.big {
	font-size: 1.25em;
}

.intro {
	font-size: 1.5em;
	line-height: 2em;
}


#contact {

	a {
		color: #777;
  		text-decoration: none;

  		&:hover, &:active {
  			color: #2d2d30;
  			text-decoration: none;
  		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		li {
		display: inline;
  		margin: 0 5px 0;

  		a {
  			color: $brand-color;

  			&:hover {
  				color: #fff;
  			}
  		}
	}
	}

	
  
}

.contact-info {
	display: flex;
	align-items: center;

}

.button{
  color: $brand-color;
  border: solid 2px $brand-color;
  border-radius: 50%;
  display: inline-block;

  text-align: center;
  font-size: 24px;
  line-height: 56px;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;

  &:hover {
  	border: solid 2px $brand-color;
  	background: $brand-color;
  }
}

.social{
  min-height: 60px;
  min-width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;

}


