.brand-color {
  color: #ff8b00; }

.container {
  padding: 80px 0; }
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px 20px; } }

.extra-padding {
  padding-right: 90px;
  padding-left: 90px; }
  @media screen and (max-width: 768px) {
    .extra-padding {
      padding-right: 20px;
      padding-left: 20px; } }

.cbp-so-section {
  margin-bottom: 10em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .cbp-so-section {
      display: block; 
      margin-bottom: 0;
      } }

.cbp-so-side p a {
  color: #ff8b00; }

.big {
  font-size: 1.25em; }

.intro {
  font-size: 1.5em;
  line-height: 2em; }

#contact a {
  color: #777;
  text-decoration: none; }
  #contact a:hover, #contact a:active {
    color: #2d2d30;
    text-decoration: none; }

#contact ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #contact ul li {
    display: inline;
    margin: 0 5px 0; }
    #contact ul li a {
      color: #ff8b00; }
      #contact ul li a:hover {
        color: #fff; }

.button {
  color: #ff8b00;
  border: solid 2px #ff8b00;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.8em;
  transition: all .3s ease-in-out; }
  .button:hover {
    border: solid 2px #ff8b00;
    background: #ff8b00; }

.social {
  height: 2em;
  width: 2em;
  float: left;
  margin-left: 0.4em;
  margin-right: 0.4em;
  display: inline-block; }
