@import url(https://fonts.googleapis.com/css?family=Arimo:400,700|Varela);

body {
    font: 400 15px/1.8 'Arimo', sans-serif;
    color: #777;
  }
h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 1.25em;
    color: #111;
}
h3 small{
  letter-spacing: normal;
  font-size: 1.125em;
}

.container-fluid{
  padding-top: 5px;
  padding-bottom: 5px
}
.bg-1 {
    background: #2d2d30;
    color: #d9d9d9;
}
.bg-1 h3 {color: #fff;}
.bg-1 h4{
  color: #fff;;
}
.btn {
    padding: 10px 20px;
    background-color: #2d2d30;
    color: #f1f1f1;
    border: 2px solid #2d2d30;
    border-radius: 20px;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 2px solid #2d2d30;
    background-color: #f1f1f1;
    color: #2d2d30;
}
.navbar {
    font-family: 'Varela', sans-serif;
    margin-bottom: 0;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar-default.affix-top{
  background-color: transparent;
  transition: 0.9s;
}
.navbar-default.affix {
  background-color: rgba(255, 139, 0, 1);
  transition: 0.9s;
}
.navbar li a, .navbar .navbar-brand { 
    color: #f5f5f5 !important;
    border-left: 2px solid transparent;
}
.navbar-nav li a:hover {
    color: #fff !important;
    border-left: 2px solid #fff;
}
.navbar-nav li.active a {
    color: #2d2d30 !important;
    background-color: transparent !important;
    border-left: 2px solid #2b2b30;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 24px 32px 24px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
#lead{
  background: url(../img/tumblr_n1kr1g4m8k1qkndd2o1_1280.jpg) no-repeat fixed;
  background-size: 100%;
  background-origin: content;
  padding-top: 100px;
  padding-bottom: 80px;
  color: #fafafa;
}
#contact a{
  color: #777;
  text-decoration: none;
}
#contact a:hover,
#contact a:active{
  color: #2d2d30;
  text-decoration: none;
}
#contact p{
  color: #777;
}
.facebook{
  background: url(../img/iconF.png) no-repeat;
  background-size: cover;
}
.facebook:hover{
  background: url(../img/iconFblue.png) no-repeat;
  background-size: cover;
}
.twitter{
  background: url(../img/iconT.png) no-repeat;
  background-size: cover;
}
.twitter:hover{
  background: url(../img/iconTblue.png) no-repeat;
  background-size: cover;
}
.behance{
  background: url(../img/iconB.png) no-repeat;
  background-size: cover;
}
.behance:hover{
  background: url(../img/iconBblue.png) no-repeat;
  background-size: cover;
}
.social{
  min-height: 60px;
  min-width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;

}
.navbar-brand{
  position: relative;
  top: -7px;
}
.navbar-brand:hover{
  opacity: 0.6;
}

.wrapper-center{
  width: 240px;
  margin: auto;
  padding-top: 7.5%;
}
/*.brand-color {color: #ed561f;}*/
.brand-color {color: rgb(255, 139, 0);}
.naranja{color: #ff8b00;}
.magenta{
  color: #ff00a7;
  padding: 0px 1px;}

.list{padding-right: 2px}


#your-circle{
  width: 30px;
  height: 30px;
}

.skill {
  height: 6em;
  width: 6em;
  border: 5px solid gray;
  border-radius: 50%;
}

.wrap {
  float: none;
  margin-right: auto;
  margin-left: auto
}
